// This is the top-level scss file. Import all other files in here.
@import 'home';
@import 'room';
@import 'navbar';
@import 'chat';
@import 'login';
@import 'time-bar';

main {
  font-family: arial;
  font-size: 1em;
}

body {
  opacity: 0.5;
  background-image: url("http://www.pptbackgrounds.org/uploads/paper-textures-crumpled-backgrounds-wallpapers.jpg");
  // background: no-repeat center center fixed;
  // background: linear-gradient(to bottom right, rgb(90, 141, 189), rgb(206, 105, 105));
  background-size: cover;

}
