// This is the top-level scss file. Import all other files in here.
@import 'home';
@import 'room';
@import 'navbar';
@import 'chat';
@import 'login';
@import 'time-bar';
@import 'home-leaderboard';

main {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

body {
  opacity: 0.8;
  background-image: url("http://www.pptbackgrounds.org/uploads/paper-textures-crumpled-backgrounds-wallpapers.jpg");
  // background: no-repeat center center fixed;
  // background: linear-gradient(to bottom right, rgb(90, 141, 189), rgb(206, 105, 105));
  background-size: cover;
  margin: 0px;
  box-shadow: inset 2px 2px 50px rgb(102, 102, 102);
  // font-family: 'Montserrat', sans-serif;

  transform: scale(1.0);
  transform-origin: 0 0;
   // add prefixed versions too.
}

@media (max-width: 1000px){
  #room-container{
    margin-left: 2%;
  }
}
