.message-input {


}

.message-input-box{
  box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.2), 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
}
#chat-messages {
  padding: 0rem 0rem 0.25rem 0rem;
}

.single-message {
  margin-top: 1px;
  padding: 0.75rem;
  font-size: 15px;
  transition-property: background-color;
  transition-duration: 5s;
  transition-delay: 5s;

}

#chat-list-and-input {
  width: 100%;
  font-size: 15px;
}

.correct-guess {
  animation: messageFlash 1600ms ease-in;
}


@keyframes messageFlash {
  0% {background: auto;}
  40% {background: #8bd684;}
  80% {background: auto;}
}
