#message-input {
  font-size: 15px;
}

#chat-messages {

}

.single-message {
  margin-top: 1px;
  padding-top: 10px;
  padding-left: 4%;
  font-size: 20px;
  height: 30px;
  font-size: 15px;
  transition-property: background-color;
  transition-duration: 5s;
  transition-delay: 5s;
}

#chat-list-and-input {
  width: 100%;
  font-size: 15px;
}

.correct-guess {
  animation: messageFlash 1600ms ease-in;
}


@keyframes messageFlash {
  0% {background: auto;}
  40% {background: #8bd684;}
  80% {background: auto;}
}
