#message-input {
  font-size: 15px;
}

#chat-messages {

}

#single-message {
  padding-top: 5px;
  padding-left: 4%;
  font-size: 20px;
  height: 30px;
  margin: 3px;
  font-size: 15px;
}

#chat-list-and-input {
  width: 100%;
  font-size: 15px;
}
