.room-thumbnail-container {
  margin: auto;
}

.room-thumbnail {
  height: 30vh;
  width: 20vh;
  border: 1px solid purple;
  border-radius: 5px;
  float: left;
  margin: 10px;
  text-align: center;
}


