.room-thumbnail-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.room-thumbnail {
  height: 30vh;
  width: 20vh;
  border: 1px solid purple;
  border-radius: 5px;
  float: left;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.room-thumbnail:hover,
.room-thumbnail:focus,
.room-thumbnail:active {
  opacity: 0.8;
  transform: scale(1.1);
}

.mainContainer{
  padding-top: 100px;
  // background: rgba(153, 209, 156, 0.1);
  min-height: 100vh
}

.join-button-div {
  width: 250px;
  height: 40vh;
  float: left;
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-top: 0;
}

.MuiButton-label-41.join-button {
  
}

.join-button {
  color: white !important;
  background-color: rgb(170, 223, 223) !important;
  font-weight: bold !important; 
  margin: auto !important;

    :hover {
      background-color: rgb(170, 223, 223) !important;
    }
    .join-text{
      text-decoration: none;
      color: black;
    }
}

.join-btn-img {
  width: 200px !important;
  height: 50px;;
}

#rules-modal-title {
  text-align: center;
}

.rules-button-div {

}

#rules-button {
  color: white !important;
  background-color: rgb(170, 223, 223) !important;
  font-weight: bold !important; 
  margin: auto !important;
  width: 200px !important;
}
