.room-thumbnail-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.mainContainer {
  background-image: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b5d177ad38580e039c7f403c0554ea6&auto=format&fit=crop&w=1267&q=80");
  background-size: contain;
}

.room-thumbnail {
  height: 30vh;
  width: 20vh;
  border: 1px solid purple;
  border-radius: 5px;
  float: left;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.room-thumbnail:hover,
.room-thumbnail:focus,
.room-thumbnail:active {
  opacity: 0.8;
  transform: scale(1.1);
}

.mainContainer{
  padding-top: 100px;
  // background: rgba(153, 209, 156, 0.1);
  min-height: 100vh
}

