#room-container {
  display: flex;
  width: 1800px;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 5%;
}

#canvas-container {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}

#chat-area {
  background-color: white;
  width: 300px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 4px;
  // padding-right: 3px;
  margin-left: 1rem;
  border-radius: 2px;
  height: 450px;
  display: flex;
  justify-content: space-between;

  input {
    width: 270px;
    font-size: 15px;
  }
  #chat-title{
    background-color: #ffc107;
    color:white;
    border-radius: 2px 2px 0px 0px;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
  }
}

#score-area {
  background-color: white;
  width: 300px;
  height: 450px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  // padding-right: 3px;
  margin-left: 1rem;
  border-radius: 2px;
  #score-title{
    background-color: #9c27b0;
    color:white;
    border-radius: 2px 2px 0px 0px;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
  }
}

#score-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 14px;
}

#canvas {
  box-shadow: 2px 2px 40px rgb(100,100,100);
  border-radius: 2px;
  cursor: url(./styles/inkpen.png) 0 50, auto;
}

#canvas:before {
  box-shadow: inset 2px 2px 50px darkslategrey;
  z-index: -1;
  position: absolute;
  top: -9px;
  left: -9px;
  right: -10px;
  bottom: -10px;
  content: '';
}

#timer {
  float: center;
}

#brush-container {
  margin-right: 10px;
  padding: 2px;
  border-radius: 5px;
  height: 440px;
}

#drawer-points-display {
  display: none;
}

#guesser-points-display {
  display: none;
}

#undo-button {
  color: #3b3c3d;
  height: 40px;
  width: 60px;
}

.brush-canvas{
  display: flex;
  justify-content: flex-start;
  overflow: visible;
  .MuiButton-fab-55{
    margin: 10px;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.1s;
    transition-property: transform;
    background: ghostwhite;

  }
  #small-brush{
    margin-left: 0px;
  }
  .MuiButton-fab-55:hover {
  opacity: 1;
  transform: scale(1.2);
  background: ghostwhite;
}

}

#brush-sizes{
  display: flex;
  justify-content: space-between;
}

.userTurnDisplay{
  width: 942px;
  display: flex;
  justify-content: space-between;
}


.userDisplay{
  display: flex;
  justify-content: space-around;
}

.clue-for-drawer{
  display: flex;
  align-items: center;
  padding-left: 42px;
}

.fa-trash{
  font-size: 20px;
  margin: 0;
  color: black
}


@keyframes trash-button {
  50% {
    -webkit-transform: translateX(1px) rotate(1deg);
    transform: translateX(1px) rotate(1deg);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(-1deg);
    transform: translateX(-1px) rotate(-1deg);
  }
}
.trash-button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.trash-button:hover {
  -webkit-animation-name: trash-button;
  animation-name: trash-button;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.chatDummy{
  content: '';
  width: 20%;

}

.chat-and-start{
  height: 100%
}

.start-button-container{

  background: lightgreen;
  width: 100%
}

.start-button {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.start-button:hover {
  -webkit-animation-name: start-button;
  animation-name: start-button;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background: #4caf50!important;
}

@keyframes start-button {
  25% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
  75% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}
}
