#progress {
  width: 900px;
  position: absolute;
}

#time-bar path {
  transition: stroke-dashoffset 0.3s ease 0s, stroke 0.3s linear, 0.3s, 1.5s!important;
}

#time-bar{
  padding-bottom: 7px;
  border-radius: 2px;
}

